.snakeGameCont {
    width: 100%;
    justify-content: space-between;
    
}

.left-cont {
    flex-grow: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.center-cont {
    flex-grow: 1;
    margin-top: 10px;
    display: flex;
}

.right-cont {
    flex-grow: 1;
    margin: 10px;
    max-width: 370px;
}

.back-title-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    /* margin-top: 10px; */
}

.go-back-snake {
    margin-right: 20px;
}

.snakeTitle {
    margin: 0;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.snake-options-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.speed-select-cont {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.speed-btn {
    background: none;
    color: #676516;
    border: 3px solid #676516;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 1.1em;
    cursor: pointer;
    outline: none;
    margin: 5px;
}
.speed-btn:hover {
    background: #676516;
    color: #bdae58;
}

.snake-game-over {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #676516;
    padding: 15px;
}