* {
  font-family: sans-serif;
}

.mainCont {
  background: #777;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameConsole {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #eee;
  height: 95vh;
  width: 50%;
  border-radius: 10px 10px 60px 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.headerCont {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 600px;
  height: 15px;
  z-index: 3;
  top: 120px;
}

.colorBarsLeft {
  border-top: 5px solid #8b1d90;
  border-bottom: 5px solid #283593;
  height: 100%;
  width: 200px;
}

.headerText {
  color: #b3b3b3;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.colorBarsRight {
  border-top: 5px solid #8b1d90;
  border-bottom: 5px solid #283593;
  height: 100%;
  width: 100px;
}

.outerScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  background: #777;
  border-radius: 13px 13px 50px 13px;
  width: 85%;
  height: 60vh;
}

.batteryCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -30px;
  margin-top: -100px;
}

.power {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #b98181;
}
.powerText {
  color: #b3b3b3;
  margin-top: 5px;
  font-size: 10px;
}

.innerScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bdae58;
  color: #676516;
  width: 85%;
  height: 50vh;
  margin-left: 5px;
  box-shadow: inset 5px 5px rgba(0, 0, 0, 0.15)
}

.controlsCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px; 
}

.directionCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  margin-left: 55px;
}

.directionPad {
  color: #444;
  font-size: 17em;
  margin-left: 30px;
  margin-bottom: 30px;
}

.buttonCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  width: 225px;
  height: 100px;
  border-radius: 70px;
  margin-right: 55px;
  transform: rotate(-25deg);
  background: #dfdfdf;
}

.gameButton-X {
  border-radius: 100%;
  background: #a93671;
  width: 80px;
  height: 80px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.gameButton-Y {
  border-radius: 100%;
  background: #a93671;
  width: 80px;
  height: 80px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}







/* ============MOBILE============ */
@media (max-width: 375px) {
  .gameConsole {
    height: 95vh;
    width: 355px;
  }
}