.flip-container {
    perspective: 1000px;
    display: inline-block;
    border: 3px solid#676516;
    background: #bdae58;
    color: #676516;
    margin: 1px;
  }
  
  .flip-container.flipped .flipper {
    transform: rotateY(180deg);
  }
  
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .back {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }
  
  .front {
    transform: rotateY(180deg);
  }