.bg-light {
    /* background: #1db0ff !important; */
    color: #676516;
  }
  
  nav.navbar.navbar-default {
      margin-bottom: 0;
    }
    
    
    /* li {
      margin-left: 10px;
      font-size: 28px;
    } */